/* Quis usar as cores preto, roxo e azul por combinar mais com o estilo do anime Yu-Gi-Ho. Então fiz o fundo preto e o as letras,
 o texto em branco para destacar o fundo */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
  color: #ffffff;
  padding: 20px;
}
/*no cabeçalho fiz um roxinho claro pra destacar*/
h1 {
  color: #b39ddb;
  margin-bottom: 20px;
}

/* A lista de cartas tá no esquema flex, pra distribuir os itens direitinho e deixar o layout alinhado e organizado */
ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* O fundo dos itens é um gradiente que vai do cinza escuro (#333333) pro preto (#1e1e1e), criando um efeito de profundidade e . */
li {
  border: 2px solid #4a148c; 
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  background: linear-gradient(145deg, #333333, #1e1e1e); 
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); /* Aqui fiz uma sombra que vai dá um efeito de elevação. É como se os itens estivessem flutuando, quando ele vem pra frente */
  width: 250px;
  transition: transform 0.3s, box-shadow 0.3s; /*: Quando você passa o mouse, os itens ganham um efeito de transformação e a sombra aumenta, pra deixar o visual mais dinâmico*/
}

/*essa transiçaõ é pra quando você passar o mouse em cima de um item, ele dá um zoom e a sombra fica mais intensa, pra destacar ainda mais */
li:hover {
  transform: scale(1.05); 
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.6);
}

/* As imagens das cartas são ajustadas pra não ultrapassar o limite do item e têm bordas arredondadas pra um toque mais suaveg */
img {
  max-width: 100%;
  border-radius: 5px;
  margin-top: 10px;
}


p {
  margin: 5px 0;
}


strong {
  color: #64b5f6; 
}
